Workflow:
1.Desgin the website.
2.Develop to frontend.
3.Develop to backend.
4.Integrate.
5.Host.

Status Diary:-

--> 1.Desgin the website.:-
        a.Home Desgin completed.

--> 2.Develop to frontend:-
        a.files created.