body {
    /* Webpage */


    position: relative;
    width: 100%;
    height: 3072px;
    overflow: hidden;

    background: linear-gradient(107.54deg, #1F1919 0%, #353535 100%);
    background-color: rgb(58, 57, 57);
}
